@font-face {
  font-family: 'guanacastevende';
  src:url('/fonts/guanacastevende.eot?-b8qosd');
  src:url('/fonts/guanacastevende.eot?#iefix-b8qosd') format('embedded-opentype'),
  url('/fonts/guanacastevende.ttf?-b8qosd') format('truetype'),
  url('/fonts/guanacastevende.woff?-b8qosd') format('woff'),
  url('/fonts/guanacastevende.svg?-b8qosd#guanacastevende') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'guanacastevende';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checkmark:before {
  content: "\e600";
}
.icon-avotz:before {
  content: "\e603";
}
.icon-search:before {
  content: "\f002";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-o:before {
  content: "\f006";
}
.icon-close:before {
  content: "\f00d";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-fire:before {
  content: "\f06d";
}
.icon-phone:before {
  content: "\f095";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-bars:before, .icon-menu:before {
  content: "\f0c9";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-youtube:before {
  content: "\f167";
}


