	
@media only screen and (max-width: 480px)
	.header
		&-logo
			width 75px !important
		&-redes
			display none
	.btn-menu
		right 0
	.activity-image
		float none
		width 100%
		border-radius 0
		height 250px
		img
			width 100%
			height auto
			border-radius 0
	.map
		width auto
		display none

	.forms-reservations
	.forms-postcard
	.contact
		width 100%

@media only screen and (max-width: 640px)
	.main
		&-activities
			.activities
				.ca-wrapper
					margin 0 45px
					
					
@media only screen and (max-width: 1150px) //768
	.header
		
		&-btn-tickets
			right 0
			//line-height 62px
	.menu
		display none
		background verde2
		top 65px
		position absolute
		left 0
		right 0
		&-bg
			display none
		
		&-item
			display block
			.handle
				display block
			.header-btn-tickets
				display block
			//border-bottom 1px solid verde2
	.submenu
		position static
		background verde
		&-item
			display block
		&-link
			padding .5em
			img
				display none
	.btn-menu
		display block		



@media only screen and (max-width: 1023px)
	.header
		&-logo
			width 150px
	.social
		display none

	.news
		&-blog
		&-widget
			float none
			width auto
			padding-bottom 20px
			margin-right 0
			text-align center

		.posts
			text-align left
	.footer
		height auto
		padding 30px 0 0
		background #3E9500
		text-align center
		overflow hidden
		&.is-home
			background #3E9500
		&-top
		&-bottom
			position static
		&-bottom
			padding-top 10px
		&-menu
		&-logo
			display none
		&-copyright
		&-redes
			display inline-block
			position static
			padding 0 20px

		&-contact
			width auto
			position static
			margin-bottom 5px
		.animation-container
			display none
	.huellas
		display none

	.map
		position relative
		top 0px
		text-align center
		&-container
			margin 0 auto 55px

	.videos
		width auto
		text-align center

		&-bubble
			background transparent
			width auto
			height auto
			padding 0
			font-size 16px
			position static
			line-height 25px
			margin-bottom 1em
			color #707070
			text-align left
			a
				color verde

		&-container
			justify-content space-around

	.activity-image
		float none
		//width 100%
		margin-bottom 20px
		margin 0 auto
	.activity-content
		float none
		width auto
		text-align center



@media only screen and (min-width: 1024px)


	.footer
		&-affiliations
		&-partnership
			display block
			a
				width 100px

@media only screen and (min-width: 1150px)
	.main
		&-price
			&-item
				float left
				width 25%
				margin-left -15px

				&--flat
					margin-top 70px
					margin-left 0
				&--zipline
					margin-top 35px
				&--carte
					margin-top 70px
					margin-left -15px

@media only screen and (max-width: 1200px)

	.page
		padding 30px 20px





@media only screen and (min-width: 640px)
	.header
		&-phone
			display block
	.main
		&-activities
			.slider-activities
				.ca-wrapper
					width 570px

	.activities
		li
			&.activity
				width: 50%;
				float: left;
	.img
		width 340px
		height auto
		margin-bottom 0
		&-float-left
			float left
			margin-right 1rem
		&-float-right
			float right
			margin-left 1rem


@media only screen and (min-width: 950px)
	.main
		&-activities
			.slider-activities
				.ca-wrapper
					width 870px
	.activities
		li

			&.activity
				width: 33.3333333%;
				float: left;


				> a
					background rgba(0, 0, 0, 0)
					opacity 0
					div
						opacity: 0;
						h4,
						p
							opacity: 0;

					&:hover
						background-color: rgba(0, 0, 0, 0.5);
						opacity: 1;
						transition: background 0.2s, opacity 0.2s;

						div
							opacity: 1;
							transition: opacity 0.2s;

							h4,
							p
								opacity: 1;
								transform: translateZ(0px);
							h4
								transition: opacity 0.5s, transform 0.5s;
							p
								transition: background-color 0.5s, opacity 0.5s 0.2s, transform 0.5s 0.2s;


@media only screen and (min-width: 1200px)

	.videos
		width 45%
	.banner
		height 660px
	.activities
		li
			&.activity
				> a
					div
						h4
							font-size 61px
	.footer
		&-partnership
			a
				width 130px
	.rope
		display block
	.handle
		display block
	.header
		&-btn-tickets-container
			display block

			
